<html>
  <head>
    <title>Юлин блог</title>
  </head>

  <body>

    <p>Хорошое настроение</p>
    <p>Первый день весны</p>

    <div>
      <h1><a href="">Учебный проект</a></h1>
    </div>

    <div>
      <p>published: 8.03.2016, 14:14</p>
      <h2><a href="">My first post</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>

    <div>
      <p>published: 8.03.2016, 14:52</p>
      <h2><a href="">Второй пост</a></h2>
      <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
    </div>

  </body>
</html>
